<!-- We don't do any rendering in HTML/Rails templates. It's all ReactJS. -->
<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>

<!-- Root element for entry for top-level ReactJS component -->
<div id="root"></div>
