<!DOCTYPE html>
<html>
  <head>
    <title>Grrrr</title> <!-- TODO(grrr): change to your app name -->
    <%= csrf_meta_tags %>
  </head>

  <body
    data-env="<%= Rails.env %>"
    data-signed-in="<%= signed_in? %>"
  >
    <%= yield %>
  </body>
</html>
